body {
    font-family: Arial, sans-serif;
    background: white;
    color: #333;
    margin: 20px;
	background-color: black;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 40px;
	background-color: black;
}

.center {
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    color: red;
    margin-bottom: 15px;
}

p {
	color: yellow;
    font-size: 16px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px black;
    box-sizing: border-box;
}

button {
    background-color: #1c72ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}

footer {
    background-color: #1c72ff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media (max-width: 600px) {
body {
    width: 100%;
    margin-bottom: 20px;
    }
}
